
body {
    background: white;
    font-family: arial, sans-serif;
    background-color: #251605;
    font-size: 0.75em;
  }
  
  .pizza{
    color: yellow;
    text-align: center;
  }

  .small {
    background-color: #B9FAF8;
    
  }
  
  .medium {
    background-color: #F6E27F;
  }
  
  .large {
    background-color: #E2C391;
    flex : 2;
  }
  
  .specials div {
    flex: 1;
    /* border: 1px solid lightgrey; */
    margin: 0em;
    padding: 1em;
    
  }
  
  .small img {
    width: 4em;
  }
  
  .medium img {
    width: 4em;
  }
  
  .large img {
    width: 4em;
    
  }
  
  .footer {
    display: flex;
  }
  
  .footer div {
    flex: 1;
  /*   border: 1px solid;
     */  margin-top: 1em;
    padding: 1em;
    background-color: #CDD93F;
  }
  
  label {
    font-weight: bold;
  }
  
  select {
    padding: 0.2em;
    font-size: 1.5em;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
  
  input[type=text], input[type=number], textarea {
    padding: 0.2em;
    font-size: 1.5em;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
  
  input[type=submit], button {
    padding: 1em;
      border: 0.3em solid #000;
    font-weight: bold;
    font-size: 1em;
  }
    
  table, td, th {    
      border: 1px solid snow;
      text-align: left;
  }
  
  table {
      border-collapse: collapse;
      width: 80%;
  }
  
  th, td {
      padding: 15px;
  }
  
  
  
  @media (min-width: 768px){
  
    .specials {
      display: flex;
    }
    
    body {
      font-size: 1em;
    }
    
  }
  
  .order{
    font-size: 20px;
  }
  
 .add_qty{
  font-size: 20px;
}

.reduce_qty{
  font-size: 20px;
}

.container {
	background-color: #CDD93F;
	padding: 1em;
	margin: auto;
	width: 80%;
	border-radius: 1em;
}


  	.btn-sm {
		padding: 0.25em;
		margin: 0.25em;
		font-size: 0.75em;
		background-color: #3FA9E2;
	}

  	.btn-med {
		padding: 0.75em;
		margin: 0.75em;
		font-size: 0.75em;
		background-color: #3FA9E2;
	}

	.field {
		margin: 1em;
	}

	/* .field label {
		margin: 1em;
	} */


	.header {
		display: flex;
	}

	.orderBox {
		display: flex;
		

		/* position: fixed; */
		/* width: 20em;
		min-height: 25em;
		background-color: violet;
		top: 0em;
		right: 0em;
		margin-right: 1em;
		padding: 1em; */
	}

	.hidden {
		display: none;
	}

	.cart {
		/* position: fixed; */
		width: 100%;
		/* margin: auto; */
		/* width: 40%; */
		/* min-height: 15em; */
		background-color: #CDD93F;
		top: 0em;
		right: 0em;
		margin-right: 1em;
		padding: 1em;
		/* border: 0.1em solid; */
		border-radius: 0.25em;
		/* z-index: 1000; */
	}

	.cartTotal {
		position: fixed;
		/* width: 100%; */
		/* margin: auto; */
		width: 20%;
		/* min-height: 15em; */
		background-color: #CDD93F;
		top: 0em;
		right: 0em;
		margin-right: 1em;
		padding: 1em;
		/* border: 0.1em solid; */
		border-radius: 0.25em;
		/* z-index: 1000; */
	}



  /* .container {
    display: grid;
    gap: 50px 100px;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  
  .row {
    border: 1px solid yellow(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
  } */